@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

@import "pages/variables";

@import "pages/bg-color-controller";

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: $border-color;
    height: 20px !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

@import "pages/authentication";

@import "pages/admin";
