.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid $border-color;
    padding: 0 20px;

    @media screen and (max-width: 991px) {
        justify-content: space-between;
    }

    .controller {
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.5s all ease-in-out;
        display: none;

        @media screen and (max-width: 991px) {
            display: inline-block;
        }

        &:hover {
            background-color:  var(--main-color);
        }

    }

    .profile {
        position: relative;

        .marge {
            display: flex;
            align-items: center;
            cursor: pointer;

            .avatar {
                border: 1px solid $border-color;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                overflow: hidden;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

            .admin-info {
                margin-left: 10px;

                @media screen and (max-width: 991px) {
                    display: none;
                }

                .name {
                    font-weight: bold;
                    margin-bottom: 5px;
                    font-size: 12px;
                }

                .designation {
                    color: $gray;
                    font-weight: 600;
                    font-size: 10px;
                }
            }
        }

        .profile-dropdown-menu {
            position: absolute;
            right: 0;
            width: 200px;
            height: auto;
            padding: 10px;
            background-color: $white;
            border: 1px solid $border-color;
            margin-top: 10px;
            border-radius: 10px;
            visibility: hidden;
            opacity: 0;
            transition: 0.5s all ease-in-out;
            z-index: 20;

            &.active {
                visibility: visible;
                opacity: 1;
                margin-top: 20px;
            }

            .profile-link {
                display: block;
                padding: 10px 15px;
                margin: 5px;
                text-decoration: none;
                color: $black;
                border-radius: 5px;
                font-size: 12px;
                font-weight: 600;

                &.active {
                    background-color: var(--main-color);
                }

                &:hover {
                    background-color: var(--main-color);
                }

            }

        }

    }

}
